<a href="https://colab.research.google.com/github/PEDRODEON7/Aula01/blob/main/Execicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#a = b. h
#area = largura * altura
area = [200,'null',720,1500,1000,275,'null',1200,2400,'null']
altura = ['null',30,40,30,10,25,33,'null',12,20]
largura = [20,20,'null',50,100,'null',30,100,200,10]

def prenche (a, b, h):
  area_full = []
  altura_full = []
  largura_full = []
  for area, altura, largura in zip(a, b, h):
    if type(area) != int:
      area_full.append(int(largura*altura))
    else:
      area_full.append(area)
    if type(largura) != int:
      largura_full.append(int(area/altura))
    else:
      largura_full.append(largura)
    if type(altura) != int:
      altura_full.append(int(area/largura))
    else:
      altura_full.append(altura)
  return (area_full, altura_full, largura_full)


  (area, altura, largura) = prenche (area, altura, largura)

print(area)
print(altura)
print(largura)

[200, 'null', 720, 1500, 1000, 275, 'null', 1200, 2400, 'null']
['null', 30, 40, 30, 10, 25, 33, 'null', 12, 20]
[20, 20, 'null', 50, 100, 'null', 30, 100, 200, 10]

In [ ]:
def prenche (a, b, h):
  area_full = []
  altura_full = []
  largura_full = []
  for area, altura, largura in zip(a, b, h):
    if type(area) != int:
      area_full.append(int(largura*altura))
    else:
      area_full.append(area)
    if type(largura) != int:
      largura_full.append(int(area/altura))
    else:
      largura_full.append(largura)
    if type(altura) != int:
      altura_full.append(int(area/largura))
    else:
      altura_full.append(altura)
  return (area_full, altura_full, largura_full)


(area, altura, largura) = prenche(area, altura, largura)

print(area)
print(altura)
print(largura)

[200, 600, 720, 1500, 1000, 275, 990, 1200, 2400, 200]
[10, 30, 40, 30, 10, 25, 33, 12, 12, 20]
[20, 20, 18, 50, 100, 11, 30, 100, 200, 10]

In [ ]:
print(sum(altura)/len(altura))
print(sum(largura)/len(largura))

22.2
55.9

In [ ]:
print('Metragem total ', sum(area),'media total dos terrenos', sum(area)/len(area))

exercio numero dos

In [ ]:
from prompt_toolkit.filters.cli import completion_is_selected

usuarios = [{'nome':'Peter','nota':9,'genero':'M','comentario':'bom demais e agil'}, 
                     {'nome':'Joao','nota':10,'genero':'M','comentario':'agil e eficiente'}, 
                     {'nome':'user_not_found','nota':0,'genero':'M','comentario':'Horrível'},
                     {'nome':'Marta','nota':10,'genero':'F','comentario':'muito agil bom demais'}, 
                     {'nome':'Beatriz','nota':10,'genero':'F','comentario':'rápido e eficaz'},
                     {'nome':'user_not_found','nota':2,'genero':'M','comentario':'ruim'},
                     {'nome':'Jéssica','nota':10,'genero':'F','comentario':'agil'}, 
                     {'nome':'José','nota':7,'genero':'M','comentario':'ok'}, 
                     {'nome':'Elias','nota':5,'genero':'M','comentario':'precisa melhorar'},
                     {'nome':'Miriã','nota':9,'genero':'F','comentario':'foi muito agil e rápido'},
                     {'nome':'Maria','nota':10,'genero':'F','comentario':'muito bom e agil'}]

def teste (comet):
  comet1 = []
  for user in comet:
    comet1.extend(user['comentario'].split())
    uniqword = sorted(set(comet1))
  for word in uniqword:
    print(comet1.count(word), word)

teste(usuarios)

1 Horrível
6 agil
3 bom
2 demais
5 e
1 eficaz
1 eficiente
1 foi
1 melhorar
3 muito
1 ok
1 precisa
1 ruim
2 rápido

In [ ]:
def teste (comet):
  comet1 = []
  for user in comet:
    comet1.extend(user['comentario'].split())
    uniqword = sorted(set(comet1))
  for word in uniqword:
    if word != 'e':
      print(comet1.count(word), word)
      

teste(usuarios)

In [ ]:
def nota(comet):
  m = []
  h = []
  for a in comet:
    if a['genero'] == 'M':
      m.append(a['nota'])
    elif a['genero']== 'F':
      h.append(a['nota'])

  print('Media masculina = ', sum(m)/len(m), 'Media Feminina = ', sum(h)/len(h))
  return m,h
masc, fem = nota(usuarios)
print(masc, fem)

In [ ]:
user_null = []

for a in usuarios:
  if a['nome'] == 'user_not_found':
    print(a)
    user_null.append(a)

print(len(user_null))

exercicio 3

In [ ]:
treinamentos = [{'treinamento':'Scrum','moedas':30}, 
                {'treinamento':'Data Science','moedas':40}, 
                {'treinamento':'Gestão de Projetos','moedas':50},
                {'treinamento':'Marketing','moedas':30}, 
                {'treinamento':'Cloud','moedas':20},
                {'treinamento':'Blockchain','moedas':10}, 
                {'treinamento':'Python','moedas':30}] 

pedidos = ['Scrum','Data Science','Gestão de Projetos','Marketing','Cloud','Python',
            'Python','Python', 'Scrum','Data Science','Gestão de Projetos',
            'Marketing','Data Science','Gestão de Projetos', 
            'Python','Marketing','Data Science','Gestão de Projetos',
            'Data Science','Gestão de Projetos','Data Science']

In [ ]:
def get_value (x,b):
  for a in x:
    if a['treinamento'] in b:
      print('valor', a['moedas'])
      return a['moedas']

ped = sorted(set(pedidos))
for a in ped:
  print('Solicitações', pedidos.count(a),'\nteinamento',a)
  valor = get_value(treinamentos,a)
  for b in treinamentos:
    b['total_pedidos']=pedidos.count(a)

Solicitações 1
teinamento Cloud
valor 20
Solicitações 6
teinamento Data Science
valor 40
Solicitações 5
teinamento Gestão de Projetos
valor 50
Solicitações 3
teinamento Marketing
valor 30
Solicitações 4
teinamento Python
valor 30
Solicitações 2
teinamento Scrum
valor 30

In [ ]:
treinamentos

[{'treinamento': 'Scrum', 'moedas': 30, 'total_pedidos': 2},
 {'treinamento': 'Data Science', 'moedas': 40, 'total_pedidos': 2},
 {'treinamento': 'Gestão de Projetos', 'moedas': 50, 'total_pedidos': 2},
 {'treinamento': 'Marketing', 'moedas': 30, 'total_pedidos': 2},
 {'treinamento': 'Cloud', 'moedas': 20, 'total_pedidos': 2},
 {'treinamento': 'Blockchain', 'moedas': 10, 'total_pedidos': 2},
 {'treinamento': 'Python', 'moedas': 30, 'total_pedidos': 2}]

In [ ]:
budget = 150
count = 6
total = []
while budget > 0:
  for a in treinamentos:
    qtd = a.get('total_pedidos',0)
    if qtd == count:
      print('treinamento',['trinamento'], 'comprado')
      total.append(qtd)
      budget = budget - a['moedas']
      count = count - 1
  else:
    continue
print('total de pedidos atendidos',sum(total),'Representando', sum(total)/len(pedidos), '% de atendimentos', '\n budget no caixa')

In [ ]:
dicionario = {'a':5, 'b':8.2, 'c':9, 'd':3, 'e': 100, 'f': 101, 'g': 210, 'h':12000, 'i':10000, 'j':1000000, 'k':-10**1000, 'l':-1000000}
valores = dicionario.values()

max_val = max(valores)
min_val = min(valores)

print("Máximo:", max_val)
print("Mínimo:", min_val)

Máximo: 1000000
Mínimo: -10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000